.header {
    padding: 20px 10px;
    background: #bcd7ff;
    box-shadow: 0px 5px 0px #89b8ff;

}    
.center_header {
    max-width: 1100px;
    margin: auto;
    height: 40px;

    display: flex;
    justify-content: space-between;
}
